.scale__wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.scale__item {
  flex-direction: column;
  align-items: flex-start;
}

.scale__item-step {
  position: absolute;
  width: auto;
  height: 10px;
}

.scale__item-scale {
  width: 1px;
  height: 10px;
  background-color: red;
}

