.progress-bar {
  position: relative;
  overflow: hidden;
  background-color: cadetblue;
  border-radius: 5px;
  height: 10px;
  width: 100%;
}

.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  background-color: green;
}
